# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove if you're using vendoring)
vendor/

# IDE/editor stuff
.vscode/
.idea/

# Env files
.env